*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'POPPINS',sans-serif;
}
body{
    height: 100%;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(121, 115, 115);
}
.calculator{
   border: 2px solid rgb(149, 36, 36);
   border-radius: 15px;
   /* background-color: transparent; */
   background-color: rgb(70, 42, 8);
   box-shadow:0px 3px 16px rgba(63, 88, 137, 0.5) ;
}
   
input{
    width: 320px; 
    height: none;
    padding: 24px;
    border-radius: 30%;
    margin: 10px;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.4);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    background-color: beige;

}

button{
    border: none;
    width: 60px;
    margin: 10px;
    height: 60px;
    border-radius: 50%;
    border: 50%;
    color: rgb(94, 7, 7);
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(50, 197, 5, 0.9);
    
}

.operator{
    background-color: #88bc27;
}

.equ{
    background-color: #9e22a0;
}